.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.top-nav {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
}

.menu {
  gap: 40px;
}

.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address-list {
  gap: 40px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.conteiner-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  width: calc((100%-48px) / 3);
  border-top: none;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team {
  border-radius: 0px 0px 4px 4px;
}
.concept-list {
  gap: 24px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  word-wrap: break-word;
  margin-right: 76px;
}
.logo-name {
  color: #2e2f42;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.16;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}
.menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}
.menu-item {
  color: #2e2f42;
}

.address-info {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.address {
  font-style: normal;
}
.head-services {
  color: white;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.main-header {
  border-bottom: 1px solid #e7e9fc;
}
.button-first {
  color: #ffffff;
  font-size: 16px;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-radius: 4px;
}
.advan-name {
  color: #2e2f42;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.advan-descrp {
  font-size: 16px;
  width: 264px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-top: 8px;
}
.section-name {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.72px;
  margin-bottom: 72px;
}
.portfolio-item {
  margin-top: 48px;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}
.portfolio-name {
  margin-bottom: 72px;
}

.team-member-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}
.member-job {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.project-name {
  color: #2e2f42;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.project-type {
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  display: inline-block;
  margin-bottom: 16px;
}
.button-first {
  color: #ffffff;
  background-color: #4d5ae5;
}

.footer-logo-name {
  color: #f4f4fd;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
}
.footer-descr {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
  margin-top: 17.5px;
}

.button,
.menu-item:hover,
.button,
.menu-item:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.menu-item:hover,
.menu-item:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.menu-link:hover,
.menu-link:focus {
  background-color: #404bbf;
  color: #404bbf;
}
.address-info:hover,
.address-info:focus {
  color: #404bbf;
}
.section-services {
  background-color: #2e2f42;
  padding: 188px 0;
}
.section-team {
  background-color: #f4f4fd;
}
.team {
  background-color: #ffffff;
}

button:hover,
button:focus {
  background-color: #404bbf;
  color: #404bbf;
}
